body{
	background: $light-grey;
}

.header {
	width: 100%;
	height: 60px;
	background: $dark-grey;
	display: block;

	.title {
		text-align: center;
		@include font-size(4);
		font-family: $sans-serif;
		color: $light-grey;
		padding: 1rem;
	}
}