
// Colours 
$light-grey: #eeeeee;
$dark-grey: #333333;

// Typography
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
